.cafe{
    background-image: url(../img/1.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 500px;
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* page 3 nav */

 .card-body{
    color: red;
    width: 250PX;
    text-decoration: none;
    margin-right: 50PX;
    display: inline;
    justify-content: space-evenly;
    height: 80px;
    margin-top: 30px;
    
    
  }

  .p{
    font-family: gotham-book;
    color: #444;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
  
.ab{

    margin-top: 60px;
    text-align: center;
}

 /*  Page 3 Footer */ 
 .footer1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-block: 20px;

    
}

.footer1 img{
    border-radius: 20px;
    object-fit: cover;
}

.mainfooter{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-block: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    font-size: 10px;
}

.mainfooter div ul{
    list-style: none;
    text-transform: capitalize;
    font-size: 15px;
}

.mainfooter div ul li{
       text-transform: capitalize;
}