/* page 1 navbar  */
.navbar1 {
    height: 50px;
    width: 100%;
    background-color: azure;
    display: inline;
}

.nav-item {
    color: red;
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
}

.list {
    opacity: 0;
}

.bi{
    margin-right: 20px;
}

.cafe{
    background-image: url(../img/2.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 700px;
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cafe1{

    height: 250px;
    width: 450px;
    
}

.dropdown-item{
  font-size: 15px;
  margin-top: 5px;
}

/*  navbar icon  */
.menu {
    padding: 0.5rem;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px 0 rgba(#000, 0.075);
  }
  
  .link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    text-decoration: none;
    color: inherit;
    &:before {
      position: absolute;
      z-index: -1;
      content: "";
      display: block;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      top: 0;
      transform: translateX(100%);
      transition: transform 0.2s ease-in;
      transform-origin: center right;
      background-color: #eee;
    }
  
    &:hover,
    &:focus {
      outline: 0;
      width: 130px;
  
      &:before,
      .link-title {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  
  .link-icon {
    width: 28px;
    height: 28px;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: absolute;
    svg {
      width: 28px;
      height: 28px;
    }
  }
  
  .link-title {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    display: block;
    text-align: center;
    text-indent: 28px;
    width: 100%;
  }


/* Page 2 bg */
.for{
    background-color: #dc4348;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 700px;
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for1{

    height: 350px;
    width: 100%
    
}

.btn{

    text-decoration: none;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin-left: 80px;
}



/* Page 3 Footer */
.footer1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-block: 20px;

    
}

.footer1 img{
    border-radius: 20px;
    object-fit: cover;
}

.mainfooter{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-block: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    font-size: 10px;
}

.mainfooter div ul{
    list-style: none;
    text-transform: capitalize;
    font-size: 15px;
}

.mainfooter div ul li{
       text-transform: capitalize;
}

